__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
.coverage
*.log

data/private/**
data/experiments/*
!data/experiments/README.md
!data/experiments/_template/
!data/experiments/_template/**

.ipynb_checkpoints/
dist/
build/
*.egg-info/
